    body {
        /*Display Properties*/
        display: flex;
        justify-content: center; /*Centers the Body instead on the left side*/
        align-items: center;
        height: 100vh;

        /*Font Properties*/
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;

        /*Misc*/
        background: url("/BG_LOGIN.png") no-repeat scroll center center; /*doesnt repeat the image, centers it both hori and verti and scrollable */
        background-size: cover;
    }

    .container {
        align-items: center;
        background-color: white;
        width: 100%;
        max-width: 700px;
        border-radius: 20px;
        padding: 5px 20px 20px;
    }
    .heading {
        color: #6b6965;
        text-align: center;
        font-weight: normal;
    }

    .content {
        display: flex;
        align-items: center;
    }

    .img {
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 0px 0px 10px #e1a60580; /* Adds a shadow behind the image */
    }

    form {
        width: 100%;
        max-width: 500px;
        text-align: left;
        border: 1px solid #f1c564;
        border-radius: 20px;
        margin-left: 20px;
        padding: 20px;
        box-shadow: 0px 0px 10px #e1a60580; /* Adds a shadow behind the image */
    }

    /*This is for the text field will go to another line*/
    label {
        display: block;
    }

    #emailLabel,
    #passwordLabel {
        color: #e9a30c;
        margin: 5px;
    }

    #email,
    #password {
        font-size: 15px;
        color: #6b6965;
        cursor: pointer;
        padding-left: 15px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        width: 95%;
        height: 35px;
    }

    #passwordLabel {
        color: #e9a30c;
    }

    .checkboxContainer {
        display: flex;
    }

    #checkbox {
        cursor: pointer;
    }

    #checkboxLabel {
        color: #6b6965;
        font-size: 12px;
        padding: 3px 0px 0px 10px;
    }

    .forgotPass {
        font-size: 12px;
        padding: 3px 0px 0px 90px;
        text-decoration: none;
        transition: color 0.1s ease; /* Add smooth transition for color change */
    }

    a:hover {
        color: #01356d;
    }

    a:visited {
        color: #6610f2;
    }

    a:active {
        color: #e83e8c;
    }

    #buttonClick {
        width: 100%;
        height: 30px;
        border: 1px solid #f1c564;
        background-color: #fffaef;
        color: #6b6965;
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
        transition: color 0.5s ease; /* Add smooth transition for color change */
    }
    #buttonClick:hover {
        background-color: #e9a107;
        color: white;
        cursor: pointer;
    }
    #buttonClick:active {
        background-color: #e83e8c; /* Set color for active links */
    }

    hr {
        border: 1px solid #f1c564;
    }

    .enrollNow:hover {
        color: #01356d;
    }

    .enrollNow:hover:visited {
        color: #6610f2;
    }

    .enrollNow:hover:active {
        color: #e83e8c;
    }
